:root {
  /* root colors values */

  --color-main: #2b283a;
  --color-light: #4a4e74;
  --color-white: #fff;
  --color-secondary: #1cb1a8;
  --color-secondary-dark: #127d76;
  --color-secondary-darker: #0c4d49;
}

[class*="theme"] {
  /* theme default */

  --border: 2px solid var(--color-main);
  --bg-color: var(--color-white);
  --h1-color: var(--color-main);
  --h2-color: var(--color-secondary);
  --h3-color: var(--color-main);
  --buttonText-color: var(--color-white);
  --buttonBg-color: var(--color-secondary);
  --p-color: var(--color-light);
  --path-color: var(--color-white);
}

.theme-test {
  /* theme customize */
--border: 4px double red;
  --color-secondary: pink;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--h1-color);
}

h2 {
  color: var(--h2-color);
}

h3 {
  color: var(--h3-color);
}

button {
  color: var(--buttonText-color);
  background-color: var(--buttonBg-color);
  border: var(--border);
}

p {
  color: var(--p-color);
}

path {
  fill: var(--path-color);
}
